# Roblox
*.rbxl
*.rbxlx
*.rbxm
*.rbxmx

# Rojo
/build

# Wally
/Packages
/DevPackages

# Foreman
/.foreman

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log

# Sourcemap
sourcemap.json
